@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes title {
  0% {
      line-height: 0%;
      letter-spacing: 0.25em;
      opacity: 0;
  }
  25% {
      line-height: 0%;
      opacity: 0%;
  }
  80% {
      opacity: 100%;
  }
  100% {
      line-height: 120%;
      opacity: 100%;
  }
}
.animate-title {
  animation: title 3s ease-out forwards;
}